<table>
  <thead>
    <th class="config_name">Config Name</th>
    <th>Outcomes</th>
  </thead>
  <tbody>
    <% @data.sort_by { |c| c[:config_name] }.each do |c| %>
    <tr>
      <td class="config_name"><%= c[:config_name] %> <a class="run" href="run/<%= c[:config_file] %>"></a></td>
      <td>
        <% unless c[:backups].nil? %>
        <ul>
          <% c[:backups].sort_by { |b| b[:date] }.reverse!.each do |backup| %>
            <% unless backup[:log] == nil %>
            <li>
              <a title="<%= backup[:log][:state] %>" class="<%= backup[:log][:state] %>" href="logs/<%= c[:config_file] %>/<%= backup[:log][:filename] %>"></a> <%= epoch_to_datetime(backup[:log][:epoch]) %>
            </li>
            <% else %>
            <li>
              <a title="not_run" class="not_run" href="/run/<%= c[:config_file] %>/<%= datetime_to_epoch(backup[:date]) %>"></a> <%= datetime_to_UI_Format(backup[:date]) %>
            </li>
            <% end %>
          <% end %>
        </ul>
        <% else %>
          <ul><li>No logs</li></ul>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
